body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tableContainer {
  display: flex;
  justify-content: center;
  background: #f0f2f5;
}
.example {
  /* height: 700px; */
  margin-top: 20px;
  width: 100%;
}
.example .ant-table-thead > tr > th,
.example .ant-table-tbody > tr > td {
  padding: 0 10px;
}

.cycleNormal {
  display: inline-block;
  width: 28px;
  text-align: center;
}

.cycleAlert {
  background-color: orange;
  display: inline-block;
  width: 28px;
  text-align: center;
}

.menstrualNormal{
  display: inline-block;
  width: 28px;
  text-align: center;
}

.menstrualAlert{
  background-color: yellow;
  display: inline-block;
  width: 28px;
  text-align: center;
}

.tabBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.deleteBtn {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}